# Microsoft Intern Engage 2022

### doing the same thing that we have did for 2020 data , just change the 2020 data link with 2021 data

In [1]:
# importing the libraries
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

# Extracting features of 2021 movies from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [3]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [4]:
tables = soup.find_all('table',class_='wikitable sortable')

In [5]:
len(tables)

4

In [6]:
type(tables[0])

bs4.element.Tag

In [7]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [8]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [9]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2],NaN
1,JANUARY,13.0,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,NaN
2,JANUARY,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3],NaN
3,JANUARY,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4],NaN
4,JANUARY,15.0,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5],NaN
...,...,...,...,...,...,...,...
353,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[271]
354,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[272]
355,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[273]
356,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,[274]
357,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_2021 = df[['Title','Cast and crew']]

In [11]:
df_2021.head()

                 Title                                      Cast and crew
0  Shadow in the Cloud  Roseanne Liang (director/screenplay); Max Land...
1      The White Tiger  Ramin Bahrani (director/screenplay); Adarsh Go...
2          Locked Down  Doug Liman (director); Steven Knight (screenpl...
3              The Dig  Simon Stone (director); Moira Buffini (screenp...
4     Outside the Wire  Mikael Håfström (director); Rob Yescombe, Rowa...

In [12]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\hp\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2022.5.18.1)

In [13]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'cd109cb98c90d3020a252e6f524b8d63'

In [14]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_id(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].id
    except:
        return np.NaN

In [15]:
# based on the movie title , storing the geners for movie
df_2021['id'] = df_2021['Title'].map(lambda x: get_movie_id(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_avg_vt(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].vote_average
    except:
        return np.NaN

In [18]:
df_2021['vote_average'] = df_2021['Title'].map(lambda x: get_movie_avg_vt(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_vt_cnt(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].vote_count
    except:
        return np.NaN

In [20]:
df_2021['vote_count'] = df_2021['Title'].map(lambda x: get_movie_vt_cnt(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [22]:
df_2021['genres'] = df_2021['Title'].map(lambda x: get_genre(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
df_2021

,Title,Cast and crew,id,vote_average,vote_count,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,675327.0,5.8,589.0,Horror Action War
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,628534.0,6.9,682.0,Drama
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,741228.0,5.4,163.0,Comedy Crime Drama
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,532865.0,6.9,889.0,Drama History
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",775996.0,6.4,1459.0,Thriller Action Science Fiction
...,...,...,...,...,...,...
353,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,591538.0,7.0,446.0,Drama War
354,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,501841.0,7.7,35.0,Drama Romance
355,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",673309.0,7.5,85.0,Drama
356,Memoria,Apichatpong Weerasethakul (director/acreenplay...,511819.0,6.1,75.0,Drama Fantasy Mystery
357,NaN,NaN,647808.0,5.6,9.0,Comedy

In [24]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [25]:
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

In [26]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [27]:
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [28]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [29]:
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [30]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [31]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [32]:
df_2021.head()

,Title,Cast and crew,id,vote_average,vote_count,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,675327.0,5.8,589.0,Horror Action War,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,628534.0,6.9,682.0,Drama,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,741228.0,5.4,163.0,Comedy Crime Drama,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,532865.0,6.9,889.0,Drama History,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",775996.0,6.4,1459.0,Thriller Action Science Fiction,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham

In [33]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [34]:
new_df21 = df_2021.loc[:,['id','director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title','vote_count','vote_average']]

In [35]:
new_df21

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average
0,675327.0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,Shadow in the Cloud,589.0,5.8
1,628534.0,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,The White Tiger,682.0,6.9
2,741228.0,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,Locked Down,163.0,5.4
3,532865.0,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,The Dig,889.0,6.9
4,775996.0,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,Outside the Wire,1459.0,6.4
...,...,...,...,...,...,...,...,...,...
353,591538.0,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,The Tragedy of Macbeth,446.0,7.0
354,501841.0,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,A Journal for Jordan,35.0,7.7
355,673309.0,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,American Underdog,85.0,7.5
356,511819.0,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama Fantasy Mystery,Memoria,75.0,6.1
357,647808.0,nan,nan,NaN,NaN,Comedy,NaN,9.0,5.6

In [36]:
# replacing the null values with the unknown
new_df21['actor_2_name'] = new_df21['actor_2_name'].replace(np.nan, 'unknown')
new_df21['actor_3_name'] = new_df21['actor_3_name'].replace(np.nan, 'unknown')

In [37]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

In [38]:
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']

In [39]:
new_df21.isna().sum()

id               1
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           1
movie_title      1
vote_count       1
vote_average     1
comb             1
dtype: int64

In [40]:
new_df21 = new_df21.dropna(how='any')

In [41]:
new_df21.isna().sum()

id               0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
vote_count       0
vote_average     0
comb             0
dtype: int64

In [42]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
new_df21

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average,comb
0,675327.0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,589.0,5.8,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,628534.0,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,682.0,6.9,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,741228.0,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,163.0,5.4,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,532865.0,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,889.0,6.9,Carey Mulligan Ralph Fiennes Lily James Simon ...
4,775996.0,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,outside the wire,1459.0,6.4,Anthony Mackie Damson Idris Emily Beecham Mika...
...,...,...,...,...,...,...,...,...,...,...
352,476669.0,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Action Adventure Thriller War Mystery,the king's man,2676.0,6.9,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
353,591538.0,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,446.0,7.0,Denzel Washington Frances McDormand Bertie Car...
354,501841.0,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,35.0,7.7,Michael B. Jordan Chanté Adams Jalon Christian...
355,673309.0,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,85.0,7.5,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
356,511819.0,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama Fantasy Mystery,memoria,75.0,6.1,Apichatpong Weerasethakul (director/acreenplay...

In [44]:
old_df = pd.read_csv('data20.csv')

In [45]:
till_2021_df = old_df.append(new_df21,ignore_index=True)

In [46]:
till_2021_df

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average,comb
0,19995.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Action Adventure Fantasy Sci-Fi,avatar,11800.0,7.2,Sam Worthington Zoe Saldana Sigourney Weaver J...
1,285.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Adventure Fantasy Action,pirates of the caribbean: at world's end,4500.0,6.9,Johnny Depp Orlando Bloom Keira Knightley Gore...
2,206647.0,Sam Mendes,Daniel Craig,Christoph Waltz,Léa Seydoux,Action Adventure Crime,spectre,4466.0,6.3,Daniel Craig Christoph Waltz Léa Seydoux Sam M...
3,49026.0,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Action Crime Drama Thriller,the dark knight rises,9106.0,7.6,Christian Bale Michael Caine Gary Oldman Chris...
4,49529.0,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Action Adventure Sci-Fi,john carter,2124.0,6.1,Taylor Kitsch Lynn Collins Samantha Morton And...
...,...,...,...,...,...,...,...,...,...,...
5694,476669.0,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Action Adventure Thriller War Mystery,the king's man,2676.0,6.9,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
5695,591538.0,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,446.0,7.0,Denzel Washington Frances McDormand Bertie Car...
5696,501841.0,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,35.0,7.7,Michael B. Jordan Chanté Adams Jalon Christian...
5697,673309.0,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,85.0,7.5,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
5698,511819.0,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama Fantasy Mystery,memoria,75.0,6.1,Apichatpong Weerasethakul (director/acreenplay...

In [47]:
till_2021_df.to_csv('data21.csv',index=False)

# Extracting features of 2022 movies from Wikipedia

### doing the same thing that we have did for 2020 data , just change the 2020 data link with 2022 data

In [48]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [49]:
tables = soup.find_all('table',class_='wikitable sortable')
len(tables)

4

In [50]:
type(tables[0])

bs4.element.Tag

In [51]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [52]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [53]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,7.0,The 355,Universal Pictures / Freckle Films / FilmNatio...,Simon Kinberg (director/screenplay); Theresa R...,[2],NaN
1,JANUARY,7.0,The Legend of La Llorona,Saban Films,Patricia Harris Seeley (director/screenplay); ...,[3],NaN
2,JANUARY,7.0,The Commando,Saban Films,Asif Akbar (director); Koji Steven Sakai (scre...,[4],NaN
3,JANUARY,14.0,Scream,Paramount Pictures / Spyglass Media Group,"Matt Bettinelli-Olpin, Tyler Gillett (director...",[5],NaN
4,JANUARY,14.0,Hotel Transylvania: Transformania,Amazon Studios / Columbia Pictures / Sony Pict...,"Jennifer Kluska, Derek Drymon (directors); Amo...",[6],NaN
...,...,...,...,...,...,...,...
190,DECEMBER,21.0,Puss in Boots: The Last Wish,Universal Pictures / DreamWorks Animation,"Joel Crawford (director); Antonio Banderas, Sa...",NaN,[162]
191,DECEMBER,21.0,I Wanna Dance with Somebody,TriStar Pictures / Black Label Media,Kasi Lemmons (director); Anthony McCarten (scr...,NaN,[53]
192,DECEMBER,25.0,Babylon,Paramount Pictures,Damien Chazelle (director/screenplay); Brad Pi...,NaN,[163]
193,DECEMBER,25.0,A Man Called Otto,Columbia Pictures / Playtone / SF Studios,"Marc Forster (director), David Magee (screenpl...",NaN,[53]
194,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_2022 = df[['Title','Cast and crew']]

In [55]:
df_2022

,Title,Cast and crew
0,The 355,Simon Kinberg (director/screenplay); Theresa R...
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...
3,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director..."
4,Hotel Transylvania: Transformania,"Jennifer Kluska, Derek Drymon (directors); Amo..."
...,...,...
190,Puss in Boots: The Last Wish,"Joel Crawford (director); Antonio Banderas, Sa..."
191,I Wanna Dance with Somebody,Kasi Lemmons (director); Anthony McCarten (scr...
192,Babylon,Damien Chazelle (director/screenplay); Brad Pi...
193,A Man Called Otto,"Marc Forster (director), David Magee (screenpl..."
194,NaN,NaN

In [56]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\hp\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.3)

In [57]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'cd109cb98c90d3020a252e6f524b8d63'

In [58]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_id(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].id
    except:
        return np.NaN

In [59]:
# based on the movie title , storing the geners for movie
df_2022['id'] = df_2022['Title'].map(lambda x: get_movie_id(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_avg_vt(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].vote_average
    except:
        return np.NaN

In [61]:
df_2022['vote_average'] = df_2022['Title'].map(lambda x: get_movie_avg_vt(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movie_vt_cnt(x):
    try:
        result = tmdb_movie.search(x)
        return result[0].vote_count
    except:
        return np.NaN

In [63]:
df_2022['vote_count'] = df_2022['Title'].map(lambda x: get_movie_vt_cnt(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [65]:
df_2022['genres'] = df_2022['Title'].map(lambda x: get_genre(str(x)))

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
df_2022

,Title,Cast and crew,id,vote_average,vote_count,genres
0,The 355,Simon Kinberg (director/screenplay); Theresa R...,522016,6.0,452,Action Thriller
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...,116322,7.7,181,Family Animation
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...,753232,6.5,70,Action Crime Thriller
3,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director...",646385,6.8,1318,Horror Mystery Thriller
4,Hotel Transylvania: Transformania,"Jennifer Kluska, Derek Drymon (directors); Amo...",585083,7.1,902,Animation Family Fantasy Comedy Adventure
...,...,...,...,...,...,...
190,Puss in Boots: The Last Wish,"Joel Crawford (director); Antonio Banderas, Sa...",315162,0.0,0,Animation Adventure Comedy Family Fantasy
191,I Wanna Dance with Somebody,Kasi Lemmons (director); Anthony McCarten (scr...,696157,0.0,0,Drama History
192,Babylon,Damien Chazelle (director/screenplay); Brad Pi...,9381,5.6,1676,Action Adventure Science Fiction Thriller
193,A Man Called Otto,"Marc Forster (director), David Magee (screenpl...",937278,0.0,0,Drama Comedy
194,NaN,NaN,647808,5.6,9,Comedy

In [67]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [68]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

In [69]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [70]:
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [71]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [72]:
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [73]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [74]:
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [75]:
df_2022

,Title,Cast and crew,id,vote_average,vote_count,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The 355,Simon Kinberg (director/screenplay); Theresa R...,522016,6.0,452,Action Thriller,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...,116322,7.7,181,Family Animation,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...,753232,6.5,70,Action Crime Thriller,Asif Akbar,Mickey Rourke,Michael Jai White,NaN
3,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director...",646385,6.8,1318,Horror Mystery Thriller,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega
4,Hotel Transylvania: Transformania,"Jennifer Kluska, Derek Drymon (directors); Amo...",585083,7.1,902,Animation Family Fantasy Comedy Adventure,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn
...,...,...,...,...,...,...,...,...,...,...
190,Puss in Boots: The Last Wish,"Joel Crawford (director); Antonio Banderas, Sa...",315162,0.0,0,Animation Adventure Comedy Family Fantasy,Joel Crawford,Joel Crawford (director); Antonio Banderas,Salma Hayek,Harvey Guillén
191,I Wanna Dance with Somebody,Kasi Lemmons (director); Anthony McCarten (scr...,696157,0.0,0,Drama History,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Stanley Tucci
192,Babylon,Damien Chazelle (director/screenplay); Brad Pi...,9381,5.6,1676,Action Adventure Science Fiction Thriller,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire
193,A Man Called Otto,"Marc Forster (director), David Magee (screenpl...",937278,0.0,0,Drama Comedy,Marc Forster,Tom Hanks,Manuel Garcia-Rulfo,NaN
194,NaN,NaN,647808,5.6,9,Comedy,nan,nan,NaN,NaN

In [76]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})

In [77]:
new_df22 = df_2022.loc[:,['id','director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title','vote_count','vote_average']]

In [78]:
new_df22

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average
0,522016,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz,Action Thriller,The 355,452,6.0
1,116322,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Family Animation,The Legend of La Llorona,181,7.7
2,753232,Asif Akbar,Mickey Rourke,Michael Jai White,NaN,Action Crime Thriller,The Commando,70,6.5
3,646385,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,Scream,1318,6.8
4,585083,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn,Animation Family Fantasy Comedy Adventure,Hotel Transylvania: Transformania,902,7.1
...,...,...,...,...,...,...,...,...,...
190,315162,Joel Crawford,Joel Crawford (director); Antonio Banderas,Salma Hayek,Harvey Guillén,Animation Adventure Comedy Family Fantasy,Puss in Boots: The Last Wish,0,0.0
191,696157,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Stanley Tucci,Drama History,I Wanna Dance with Somebody,0,0.0
192,9381,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire,Action Adventure Science Fiction Thriller,Babylon,1676,5.6
193,937278,Marc Forster,Tom Hanks,Manuel Garcia-Rulfo,NaN,Drama Comedy,A Man Called Otto,0,0.0
194,647808,nan,nan,NaN,NaN,Comedy,NaN,9,5.6

In [79]:
# replacing the null values with the unknown
new_df22['actor_2_name'] = new_df22['actor_2_name'].replace(np.nan, 'unknown')
new_df22['actor_3_name'] = new_df22['actor_3_name'].replace(np.nan, 'unknown')

In [80]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [81]:
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']

In [82]:
new_df22.isna().sum()

id               0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           2
movie_title      2
vote_count       0
vote_average     0
comb             2
dtype: int64

In [83]:
new_df22 = new_df22.dropna(how='any')

In [84]:
new_df22.isna().sum()

id               0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
vote_count       0
vote_average     0
comb             0
dtype: int64

In [85]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
new_df22

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average,comb
0,522016,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz,Action Thriller,the 355,452,6.0,Jessica Chastain Lupita Nyong'o Penélope Cruz ...
1,116322,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Family Animation,the legend of la llorona,181,7.7,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
2,753232,Asif Akbar,Mickey Rourke,Michael Jai White,unknown,Action Crime Thriller,the commando,70,6.5,Mickey Rourke Michael Jai White unknown Asif A...
3,646385,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,scream,1318,6.8,Melissa Barrera Mason Gooding Jenna Ortega Mat...
4,585083,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn,Animation Family Fantasy Comedy Adventure,hotel transylvania: transformania,902,7.1,Andy Samberg Selena Gomez Kathryn Hahn Jennife...
...,...,...,...,...,...,...,...,...,...,...
189,594767,David F. Sandberg,Zachary Levi,Asher Angel,Jack Dylan Grazer,Comedy Action Fantasy,shazam! fury of the gods,0,0.0,Zachary Levi Asher Angel Jack Dylan Grazer Dav...
190,315162,Joel Crawford,Joel Crawford (director); Antonio Banderas,Salma Hayek,Harvey Guillén,Animation Adventure Comedy Family Fantasy,puss in boots: the last wish,0,0.0,Joel Crawford (director); Antonio Banderas Sal...
191,696157,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Stanley Tucci,Drama History,i wanna dance with somebody,0,0.0,Naomi Ackie Ashton Sanders Stanley Tucci Kasi ...
192,9381,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire,Action Adventure Science Fiction Thriller,babylon,1676,5.6,Brad Pitt Margot Robbie Tobey Maguire Damien C...
193,937278,Marc Forster,Tom Hanks,Manuel Garcia-Rulfo,unknown,Drama Comedy,a man called otto,0,0.0,Tom Hanks Manuel Garcia-Rulfo unknown Marc For...

In [87]:
old_df = pd.read_csv('data21.csv')

In [88]:
final_df = old_df.append(new_df22,ignore_index=True)

In [89]:
final_df

,id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,vote_count,vote_average,comb
0,19995.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Action Adventure Fantasy Sci-Fi,avatar,11800.0,7.2,Sam Worthington Zoe Saldana Sigourney Weaver J...
1,285.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Keira Knightley,Adventure Fantasy Action,pirates of the caribbean: at world's end,4500.0,6.9,Johnny Depp Orlando Bloom Keira Knightley Gore...
2,206647.0,Sam Mendes,Daniel Craig,Christoph Waltz,Léa Seydoux,Action Adventure Crime,spectre,4466.0,6.3,Daniel Craig Christoph Waltz Léa Seydoux Sam M...
3,49026.0,Christopher Nolan,Christian Bale,Michael Caine,Gary Oldman,Action Crime Drama Thriller,the dark knight rises,9106.0,7.6,Christian Bale Michael Caine Gary Oldman Chris...
4,49529.0,Andrew Stanton,Taylor Kitsch,Lynn Collins,Samantha Morton,Action Adventure Sci-Fi,john carter,2124.0,6.1,Taylor Kitsch Lynn Collins Samantha Morton And...
...,...,...,...,...,...,...,...,...,...,...
5885,594767.0,David F. Sandberg,Zachary Levi,Asher Angel,Jack Dylan Grazer,Comedy Action Fantasy,shazam! fury of the gods,0.0,0.0,Zachary Levi Asher Angel Jack Dylan Grazer Dav...
5886,315162.0,Joel Crawford,Joel Crawford (director); Antonio Banderas,Salma Hayek,Harvey Guillén,Animation Adventure Comedy Family Fantasy,puss in boots: the last wish,0.0,0.0,Joel Crawford (director); Antonio Banderas Sal...
5887,696157.0,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Stanley Tucci,Drama History,i wanna dance with somebody,0.0,0.0,Naomi Ackie Ashton Sanders Stanley Tucci Kasi ...
5888,9381.0,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire,Action Adventure Science Fiction Thriller,babylon,1676.0,5.6,Brad Pitt Margot Robbie Tobey Maguire Damien C...
5889,937278.0,Marc Forster,Tom Hanks,Manuel Garcia-Rulfo,unknown,Drama Comedy,a man called otto,0.0,0.0,Tom Hanks Manuel Garcia-Rulfo unknown Marc For...

In [90]:
final_df.to_csv('main.csv',index=False)

In [93]:
import pandas as pd 
import ast
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, NormalPredictor
from surprise.model_selection import cross_validate

from sklearn.metrics.pairwise import cosine_similarity
def create_similarity():
    data = pd.read_csv('main.csv')
    # creating a count matrix
    cv = CountVectorizer()
    count_matrix = cv.fit_transform(data['comb'])
    # creating a similarity score matrix
    similarity = cosine_similarity(count_matrix)
    return data,similarity



dt = pd.read_csv("main.csv")

titles = dt['movie_title']
indices = pd.Series(dt.index, index=dt['movie_title'])
reader = Reader()
ratings = pd.read_csv('ratings_small.csv')
ratings.head()
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
nor = NormalPredictor()
trainset = data.build_full_trainset()
nor.fit(trainset)

import numpy as np
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan
    
id_map = pd.read_csv('links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(dt[['movie_title', 'id']], on='id').set_index('movie_title')
indices_map = id_map.set_index('id')

def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    movie_id = id_map.loc[title]['movieId']
    data, similarity = create_similarity()
    sim_scores = list(enumerate(similarity[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    movies = dt.iloc[movie_indices][['movie_title', 'vote_count', 'vote_average', 'id']]
    est = []
    for x in range(len(sim_scores)):
        a = sim_scores[x][0]
        est.append(data['movie_title'][a])
    return est

hybrid(1, 'avatar')

['avatar: the way of water',
 'aliens',
 'guardians of the galaxy',
 'star trek into darkness',
 'x-men: days of future past',
 'the wolverine',
 'the abyss',
 'dragonball evolution',
 'spider-man 3',
 'spider-man 2',
 'terminator salvation',
 'clash of the titans',
 'x-men: first class',
 'terminator 2: judgment day',
 'divergent',
 'mortal kombat: annihilation',
 'the terminator',
 'superman returns',
 'man of steel',
 'jurassic park iii',
 'alien: resurrection',
 'superman',
 'superman ii',
 'alien',
 'beastmaster 2: through the portal of time']